RivalsSim/Assets/RoslynCSharp/RoslynCSharp/**
RivalsSim/Library/**
RivalsSim/Logs/**
RivalsSim/obj/**
RivalsSim/Packages/**
RivalsSim/Temp/**
RivalsSim/UserSettings/**
RivalsSim/RoslynCSharp.csproj
RivalsSim/RoslynCSharp.Examples.csproj
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex05_CompilerDefines.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex06_CompileFromSource.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex06_CompileFromSource.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex07_CompileFromFile.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex07_CompileFromFile.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex08_CompileAsync.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex08_CompileAsync.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex09_FindTypes.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex09_FindTypes.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex10_StaticMethods.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex10_StaticMethods.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex11_StaticFields.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex11_StaticFields.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex12_StaticProperties.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex12_StaticProperties.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex13_CreateInstance.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex13_CreateInstance.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex14_InstanceMethods.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex14_InstanceMethods.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex15_InstanceFields.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex15_InstanceFields.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex16_InstanceProperties.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex16_InstanceProperties.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex17_ReferenceCompiledCode.cs
RivalsSim/Assets/RoslynCSharp/Examples/ExampleScripts/Ex17_ReferenceCompiledCode.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/RoslynCSharp.Examples.asmdef
RivalsSim/Assets/RoslynCSharp/Examples/RoslynCSharp.Examples.asmdef.meta
RivalsSim/Assets/RoslynCSharp/Examples/Scripts.meta
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/MazeCrawler.cs
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/MazeCrawler.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/MazeCrawlerExample.cs
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/MazeCrawlerExample.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/TestCrawler.cs
RivalsSim/Assets/RoslynCSharp/Examples/Scripts/TestCrawler.cs.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/Breadcrumb.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/Breadcrumb.png.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeMouse.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeMouse.png.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeTile.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeTile.png.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeTileEntryPoint.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeTileEntryPoint.png.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeWall.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/MazeWall.png.meta
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/UIIcons.png
RivalsSim/Assets/RoslynCSharp/Examples/Sprites/UIIcons.png.meta
RivalsSim/Assets/RoslynCSharp/Plugin.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Editor.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Editor/Trivial.ImGUI.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Editor/Trivial.ImGUI.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Microsoft.CodeAnalysis.CSharp.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Microsoft.CodeAnalysis.CSharp.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Microsoft.CodeAnalysis.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Microsoft.CodeAnalysis.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/RoslynCSharp.Compiler.dll
RivalsSim/Assets/RoslynCSharp/Plugin/RoslynCSharp.Compiler.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.AppContext.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.AppContext.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Collections.Immutable.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Collections.Immutable.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Console.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Console.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Diagnostics.FileVersionInfo.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Diagnostics.FileVersionInfo.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Diagnostics.StackTrace.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Diagnostics.StackTrace.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.IO.FileSystem.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.IO.FileSystem.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.IO.FileSystem.Primitives.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.IO.FileSystem.Primitives.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Reflection.Metadata.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Reflection.Metadata.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Algorithms.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Algorithms.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Encoding.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Encoding.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Primitives.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.Primitives.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.X509Certificates.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Security.Cryptography.X509Certificates.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Threading.Tasks.Extensions.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Threading.Tasks.Extensions.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Threading.Thread.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Threading.Thread.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XmlDocument.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XmlDocument.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XPath.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XPath.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XPath.XDocument.dll
RivalsSim/Assets/RoslynCSharp/Plugin/System.Xml.XPath.XDocument.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.CodeSecurity.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.CodeSecurity.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.Mdb.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.Mdb.dll.meta
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.Pdb.dll
RivalsSim/Assets/RoslynCSharp/Plugin/Trivial.Mono.Cecil.Pdb.dll.meta
RivalsSim/Assets/RoslynCSharp/Resources.meta
RivalsSim/Assets/RoslynCSharp/Resources/RoslynCSharpSettings.asset
RivalsSim/Assets/RoslynCSharp/Resources/RoslynCSharpSettings.asset.meta
RivalsSim/Assets/RoslynCSharp/ScriptingReference.chm
RivalsSim/Assets/RoslynCSharp/ScriptingReference.chm.meta
RivalsSim/Assets/RoslynCSharp/Scripts.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Editor.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/InputDialog.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/InputDialog.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/PluginConflictDetector.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/PluginConflictDetector.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/RoslynSettingsWindow.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Editor/RoslynSettingsWindow.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncCompileOperation.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncCompileOperation.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncLoadOperation.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncLoadOperation.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncOperation.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/AsyncOperation.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/RoslynCSharp.asmdef
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/RoslynCSharp.asmdef.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/RoslynCSharp.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/RoslynCSharp.cs.meta
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/ScriptAssembly.cs
RivalsSim/Assets/RoslynCSharp/Scripts/Runtime/ScriptAssembly.cs.meta
